:root {
  --text-color-game: #FAE5B2; /* game */
  --border-color-game: #CB985E;
  --hr-color-game: #62450B;
  --button-bg-color-game: #A07332;
  --border-color-game: #D49B70;
  --border-game: 2px;
  --button-text-color-game: #FCE5B7;
  --button-bg-color-green-game: #49AC20;
  --border-color: #ce9767; /**/
}

.row {
 	--bs-gutter-x: 1.5rem;
 	--bs-gutter-y: 0;
 	display: flex;
	flex-wrap: wrap;
}

.row:hover {
 	background-color: #544414;
}
.row>* {
 	flex-shrink: 0;
 	width: 100%;
 	max-width: 100%;
  /*	
  	padding-right: calc(var(--bs-gutter-x) * .5);
  	padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
  */
 }
  
.col-1 {
 	flex: 0 0 auto;
 	width: 8.33333333%;
 }
.col-2 {
 	flex: 0 0 auto;
 	width: 16.66666667%;
}
.col-3 {
 	flex: 0 0 auto;
 	width: 25%;
}
.col-4 {
 	flex: 0 0 auto;
 	width: 33.33333333%;
}
.col-5 {
 	flex: 0 0 auto;
 	width: 41.66666667%;
}

.toastify {
  position: fixed;
  left: 50%;
	top: 5px;
	transform: translateX(-50%);
  padding: 12px 20px;
  color: #fce1ac;
  border-radius: 10px 10px 10px 10px;
  background: #190e08e6;
  border: 1px #ce9767 solid;  
  display: inline-block;
  opacity: .65;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647;
  max-width: fit-content;
  /*animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: .65;}
}

@keyframes fadeout {
  from {opacity: .65;}
  to {opacity: 0;}
}

.toastify.success {
  background: #1fae44;
}

.toastify.error {
  background: #d5696f;
}

.your-modal-dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.your-modal-dialog2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.your-modal-dialog3 {
  width: 100px;
  height: 50px;
  position:fixed; 
  top: calc(50% - 25px); /* half of width */
  left: calc(50% - 50px); /* half of height */
}

.dragme {
  position: relative;
  cursor: move;
}

.main_menu {
	position: absolute;
	width: 5px;
	z-index: 9999;
	top: 50%;
  right: 0px;
	background: #190e08e6;
	border: 1px #ce9767 solid;
	border-radius: 10px 0px 0px 10px;
	border-right: none;
	padding: 5px 10px 5px 5px;
	box-sizing: border-box;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 600;
	font-stretch: condensed;
	letter-spacing: 1px;
	color: #fce1ac;
	text-shadow: 0px 0px 1px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 1px;
	overflow: hidden;
}

.main_menu:hover {
	max-width: 285px;
	width: auto;
	overflow:visible;
}

.menu_button {
	user-select: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 14px 8px;
	margin: 4px;
	background: radial-gradient(circle, rgba(165, 120, 56, 1) 80%, rgba(0, 0, 0, 1) 110%);
	color: #fce5b7;
	text-shadow: 0px 1px 2px black;
	text-align: center;
	box-shadow: inset 0px -4px 6px #442901, inset 0px 1px 6px #442901, inset 0px 0px 6px, 0px 0px 4px, 0px 0px 0px 2px #ce9767;
}

.menu_button:hover {
	filter: brightness(1.2);
}

