:root {
  --text-color-game: #FAE5B2; /* game */
  --border-color-game: #CB985E;
  --hr-color-game: #62450B;
  --button-bg-color-game: #A07332;
  --border-color-game: #D49B70;
  --border-game: 2px;
  --button-text-color-game: #FCE5B7;
  --button-bg-color-green-game: #49AC20;
  --border-color: #ce9767; /**/

}

.pp_close {
	width: 40px;
	height: 40px;
	position: absolute;
	right: -18px;
	top: -18px;
	border: 3px solid #c18550;
	border-radius: 20px;
	background-position-y: 3px;
	background-size: 65%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23f4cd73' d='M 0.826 12.559 C 0.431 12.963 3.346 15.374 3.74 14.97 C 4.215 15.173 8.167 10.457 7.804 10.302 C 7.893 10.376 11.454 14.64 11.525 14.372 C 12.134 15.042 15.118 12.086 14.638 11.689 C 14.416 11.21 10.263 7.477 10.402 7.832 C 10.358 7.815 11.731 7.101 14.872 3.114 C 14.698 2.145 13.024 1.074 12.093 1.019 C 11.438 0.861 8.014 5.259 8.035 5.531 C 7.86 5.082 3.61 1.186 3.522 1.59 C 2.973 1.027 0.916 4.611 1.17 4.873 C 0.728 4.914 5.088 7.961 5.61 7.995 C 5.225 7.532 0.622 12.315 0.826 12.559 Z'/%3e%3c/svg%3e"), radial-gradient(circle, rgba(190,30,35,1) 0%, rgba(0,0,0,1) 100%);;
	box-shadow: -1px 1px 3px black;
	cursor: pointer;
	box-sizing: border-box;
}

.pp_close:hover {
	filter: brightness(1.2);
}

.pp_crossClose {
	width: 100%;
	height: 100%;
	background-size: 65%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%23f4cd73' d='M 0.826 12.559 C 0.431 12.963 3.346 15.374 3.74 14.97 C 4.215 15.173 8.167 10.457 7.804 10.302 C 7.893 10.376 11.454 14.64 11.525 14.372 C 12.134 15.042 15.118 12.086 14.638 11.689 C 14.416 11.21 10.263 7.477 10.402 7.832 C 10.358 7.815 11.731 7.101 14.872 3.114 C 14.698 2.145 13.024 1.074 12.093 1.019 C 11.438 0.861 8.014 5.259 8.035 5.531 C 7.86 5.082 3.61 1.186 3.522 1.59 C 2.973 1.027 0.916 4.611 1.17 4.873 C 0.728 4.914 5.088 7.961 5.61 7.995 C 5.225 7.532 0.622 12.315 0.826 12.559 Z'/%3e%3c/svg%3e")
}

.toastify {
  position: fixed;
  left: 50%;
	top: 5px;
	transform: translateX(-50%);
  padding: 12px 20px;
  color: #fce1ac;
  border-radius: 10px 10px 10px 10px;
  background: #190e08e6;
  border: 1px #ce9767 solid;  
  display: inline-block;
  opacity: .65;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647;
  max-width: fit-content;
  /*animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
}