body {
  background: silver;
}

.row {
  display: inline-flex;
  margin-top: -55px;
}

.row:nth-child(even) {
  margin-top: -55px;
  margin-left: -84px;
}

.h {
  width: 110px;
  height: 100px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 56px;
  background-color: #111;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 25% 100%, 0 50%);
}

.h:hover {
  background-color: #0f0;
}

.h:after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background-color: #111;
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 25% 100%, 0 50%);
}
/*
hover: A1BA52
8AA639
*/